.st_contact_info_wrap {
	background-color: #fff;
}

.single-content-info {
	border-bottom: 1px solid rgba(30, 67, 221, 0.09);
	position: relative;

}

.st_contact_info{
	ul{
		li{
			position: relative;
			border-bottom: 1px solid rgba(30, 67, 221, 0.09);
			padding: 30px 0 30px 75px;
			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	i{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 60px;
		height: 60px;
		line-height: 60px;
		border-radius: 100%;
	}
	span {
		width: 86%;
	}
}
.st_box_shadow{
	box-shadow: 0 6px 20px rgba(30, 67, 221, 0.13);
}

.st_contact_info.st_contact_info_2{
	border: 1px solid #F5FAFF;
	height: 100%;
	i {
		transform: translateY(0);
	}
}